@page "/"
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
<div>
    <h1>Full Stack eCommerce Project</h1>    
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="/E-ComerceApp/JOSH_DOVE.mp4"></iframe>
</div>
</section>

<SurveyPrompt Title="Desarrollado en Blazor" />
